<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />  	
	<meta name="description" content="Trading Partners Visibility Portal" />
	<meta name="keywords" content="{% block keywords %}Trading Partner, EDI, X12, Integration{% endblock %}" />
	<meta name="author" content="SilkCoast Software" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon" />
    <title>{% block title %}Visibility Portal{% endblock %}</title>
    {% block head %}{% endblock %}
	{% block extra_head %}{% endblock %}
  </head>
  <body>
  	{% block content %}
		{% block body %}
		{% endblock %}
		{% block extra_body %}
		{% endblock %}
	{% endblock %}
  </body>
</html>
