{% extends "base.html" %}

{% block head %}
	<link href="/media/css/jquery-ui/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
	<link href="/media/css/ui.jqgrid.css" rel="stylesheet" />
	
	<script type="text/javascript" src="/media/js/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="/media/js/grid.locale-en.js"></script>
	<script type="text/javascript" src="/media/js/jquery-ui-1.8.1.custom.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.jqGrid.min.js"></script>
{% endblock %}